<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Register Vehicle
    </div>
    <div class="card-body">
      <form>

        <p class="text-muted">Add Vehicle Details</p>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-speedometer"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Vehicle Number" [(ngModel)] = "number" [ngModelOptions]="{standalone: true}" required>
        </div>

        <div class="input-group mb-4">
          <select class="form-control" (change)="change_vehicle_type($event.target.value)" data-toggle="dropdown">

              <option class="dropdown-item" [ngValue]="TwoWheeler">TwoWheeler</option>

              <option class="dropdown-item" [ngValue]="ThreeWheeler">ThreeWheeler</option>

              <option class="dropdown-item" [ngValue]="FourWheeler">FourWheeler</option>
              
          </select>
        </div>

        <div class="input group mb-3 btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary" [ngClass]="{'active': existing}">
            <input type="radio" name="Existing" id="option1" autocomplete="off" (click)="existing_person($event)"> Existing 
          </label>
          <label class="btn btn-secondary" [ngClass]="{'active': !existing}">
            <input type="radio" name="New" id="option2" autocomplete="off" (click)="new_person($event)"> New
          </label>
        </div>

        <div *ngIf="existing">
          <div class="input-group input-group-lg mb-4 dropdown">
            <select class="btn btn-secondary dropdown-toggle" (change)="change_owner($event.target.value)" data-toggle="dropdown">

                <option class="dropdown-item" [ngValue]="null" disabled>Choose existing owner</option>
                <option class="dropdown-item" value={{owner._id}} *ngFor="let owner of owners">{{owner.number}}</option>
              
            </select>
            

          </div>
          <button type="button" class="btn btn-block btn-success" (click)="add_existing($event)">Add</button>
        </div>

        <div *ngIf="!existing">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-phone"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)] = "phone_number" [ngModelOptions]="{standalone: true}" placeholder="Phone Number" required>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)] = "name" placeholder="Name" [ngModelOptions]="{standalone: true}" required>
          </div>
          
          <div class="input-group mb-4">
              <select class="form-control" (change)="change_owner_type($event.target.value)" data-toggle="dropdown">
    
                  <option class="dropdown-item" [ngValue]="TwoWheeler">Visitor</option>
    
                  <option class="dropdown-item" [ngValue]="ThreeWheeler">PermanentResident</option>
                  
              </select>
            </div>

          <button type="button" class="btn btn-block btn-success" (click)="add_new($event)">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
