<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3 ">
          <h4 class="mb-3">Entry/Exit Logging</h4>
        </div><!--/.col-->
      </div><!--/.row-->
      
        <div class="row mt-5">
          <div class="col-sm-6 offset-md-3">

            <div class="input-group input-group-lg"> 
                <select class="form-control" (change)="change_selected_vehicle($event.target.value)">
                    <option [ngValue]="null" disabled>Choose vehicle</option>
                    <option value={{vehicle.number}} *ngFor="let vehicle of vehicles">{{vehicle.number}}</option>
                </select>
            </div>

          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-2 offset-md-3">
              <button type="button" class="btn btn-block btn-success" (click)="entry($event)">Entry</button>
          </div>
          <div class="col-md-2 offset-md-2">
              <button type="button" class="btn btn-block btn-success" (click)="exit($event)">Exit</button>
          </div>
        </div>
    </div>
  </div>
  <!--/.card-->
</div>
